## <p style="text-align: right;"> &#9989; Patrick Culliton</p>

# CMSE 202 Midterm - Section 002 - Spring 2024 (80 points total)

The goal of this midterm is to give you the opportunity to test out some of the skills that you've developed thus far this semester. In particular, you'll practice setting up a GitHub repository, committing and pushing repository changes, downloading data with command line tools, performing some data analysis, possibly using a new Python package, and writing a python class. You should find that you have all of the skills necessary to complete this exam with even just eight weeks of CMSE 202 under your belt!

You are encouraged to look through the entire exam before you get started so that you can appropriately budget your time and understand the broad goals of the exam. Once you've read through it, try doing Parts 0 and 1 first so that you have your repository set up and you download all necessary data files as they will be necessary to complete the assigned tasks. Let your instructor know right away if you have problems downloading the data!

The exam is set up so that even if you get stuck on one part there are opportunities to get points on the other parts, so consider jumping ahead if you feel like you aren't making progress and then come back later if you have time. If you have any questions during the exam, you may ask the instructor, the TA, or the LA privately: simply raise your hand and one of us will come over to you. 


**Important note about using online resources**: This exam is "open internet". That means that you can look up documentation, google how to accomplish certain Python tasks, etc. Being able to effectively use the internet for computational modeling and data science is a very important skill, so we want to make sure you have the opportunity to exercise that skill. **However: The use of any person-to-person communication software or generative AI tools is absolutely not acceptable.** If you are seen accessing your email, using a collaborative cloud storage or document software (e.g. Slack, Google Documents), or generative AIs (e.g. ChatGPT), you will be at risk for receiving a zero on the exam.

**Keep your eyes on your screen!** Unfortunately, there isn't enough space in the room for everyone to sit at their own table so please do your best to keep your eyes on your own screen. This exam is designed to give *you* the opportunity to show the instructor what you can do and you should hold yourself accountable for maintaining a high level of academic integrity. If any of the instructors observe suspicious behavior, you will, again, risk receiving a zero.

---
## Part 0: Academic integrity statement

Read the following statement and edit the markdown text to put your name in the statement. This is your commitment to doing your own authentic work on this exam.

> I, **INSERT NAME HERE**, affirm that this exam represents my own authetic work, without the use of any unpermitted aids or generative AIs or person-to-person communication. I understand that this exam an an opportunity to showcase my own progress in developing and improving my computational skills and have done my best to demonstrate those skills.

## Part 1: Add to your Git repository to track your progress on your exam (12 points total)

Before you get to far along in the exam, you're going to add it to the `cmse202-s24-turnin` repository you created in class (or in Homework 1) so that you can track your progress on the exam and preserve the final version that you turn in. In order to do this you need to

1. Navigate to your `cmse202-s24-turnin` repository and create a new directory called `midterm`.
2. Move this notebook into that **new directory** in your repository, then **add it and commit it to your repository**.
3. Finally, to test that everything is working, "git push" the file so that it ends up in your GitHub repository.

**Important**: Double check you've added your Professor and your TA as collaborators to your "turnin" respository (you should have done this in the previous homework assignment).

**Important**: Make sure that the version of this notebook that you are working on is the same one that you just added to your repository! If you are working on a different copy of the noteobok, **none of your changes will be tracked**!

The file should now show up on your GitHub account in the `cmse202-s24-turnin` repository inside the `midterm` directory you just created.  Periodically, **you'll be asked to commit your changes to the repository and push them to the remote GitHub location**. It can be good to get into a habit of committing your changes any time you make a significant modification.

&#9989; **Do this**: Before you move on, put the command that your instructor should run to clone your repository in the markdown cell below.

``` bash
# Put the command for cloning your repository here!

```

---
## Part 2: Downloading and analyzing unfamiliar data (25 points)

In this part of the exam, you will use load and visualize a dataset that you probably have not used before. In particular, you will be working with data on several LEGO sets. Some information about the dataset can be found here https://www.kaggle.com/datasets/rtatman/lego-database.

To get started, you will need to download the file - `lego.csv` from this link:
* `https://raw.githubusercontent.com/skarnik1337/cmse202sec002s24midterm/main/lego.csv`

The file is also on D2L. Note that this file is different than the one on Kaggle in that a few columns have been removed to reduce the filesize by 60%.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!curl -o 'lego.csv' https://raw.githubusercontent.com/skarnik1337/cmse202sec002s24midterm/main/lego.csv
lego = pd.read_csv('lego.csv')

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1518k  100 1518k    0     0  6003k      0 --:--:-- --:--:-- --:--:-- 6003k

In [2]:
lego = pd.read_csv('lego.csv')

In [3]:
lego.head()

,set_id,name,year,theme,subtheme,themeGroup,category,pieces,minifigs,agerange_min,US_retailPrice
0,1-8,Small house set,1970,Minitalia,NaN,Vintage,Normal,67.0,NaN,NaN,NaN
1,2-8,Medium house set,1970,Minitalia,NaN,Vintage,Normal,109.0,NaN,NaN,NaN
2,3-6,Medium house set,1970,Minitalia,NaN,Vintage,Normal,158.0,NaN,NaN,NaN
3,4-4,Large house set,1970,Minitalia,NaN,Vintage,Normal,233.0,NaN,NaN,NaN
4,4-6,Mini House and Vehicles,1970,Samsonite,Model Maker,Vintage,Normal,NaN,NaN,NaN,NaN

&#9989; **Question 2.1 (1 point)**: **Do this now:** Save this file in the same directory as your notebook so you can load it directly. **Then, in the cell below, put the command line command(s) you used to download the files.** If you did not use a command line tool to download the files, write down the command(s) that *would* have downloaded the files.

``` bash
# Put the command(s) you used for downloading the lego.csv file here!
!curl -o 'lego.csv' https://raw.githubusercontent.com/skarnik1337/cmse202sec002s24midterm/main/lego.csv
```

&#9989; **Question 2.2 (2 points)**: Read in the `lego.csv` dataset into a `Pandas` `DataFrame` and then display the first few rows and the last few rows. Note that this csv file already has column headers in the first row.

In [4]:
# Put your code for Question 2.2 here
lego = pd.read_csv('lego.csv')
lego

,set_id,name,year,theme,subtheme,themeGroup,category,pieces,minifigs,agerange_min,US_retailPrice
0,1-8,Small house set,1970,Minitalia,NaN,Vintage,Normal,67.0,NaN,NaN,NaN
1,2-8,Medium house set,1970,Minitalia,NaN,Vintage,Normal,109.0,NaN,NaN,NaN
2,3-6,Medium house set,1970,Minitalia,NaN,Vintage,Normal,158.0,NaN,NaN,NaN
3,4-4,Large house set,1970,Minitalia,NaN,Vintage,Normal,233.0,NaN,NaN,NaN
4,4-6,Mini House and Vehicles,1970,Samsonite,Model Maker,Vintage,Normal,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
18452,SHUTTLE-1,Space Shuttle,2022,Promotional,LEGO brand stores,Miscellaneous,Other,NaN,NaN,NaN,NaN
18453,SLSDUCK-1,SLS Duck,2022,Promotional,LEGO House,Miscellaneous,Other,1.0,NaN,NaN,NaN
18454,SUMMERWAVE-1,Summer Wave,2022,Promotional,LEGO Brand Stores,Miscellaneous,Other,39.0,NaN,7.0,NaN
18455,TRUSPIDERMAN-1,Spider-Man,2022,Marvel Super Heroes,Spider-Man,Licensed,Other,43.0,NaN,NaN,NaN
18456,YOTT-1,Tiger,2022,Miscellaneous,NaN,Miscellaneous,Other,NaN,NaN,NaN,NaN

### Yes, there are a lot of `NaN` values in this dataset. For Questions 2.3 and 2.4, leave all the rows in the `DataFrame`, even if they have `NaN` vaues. 

&#9989; **Question 2.3 (9 points total)**: For each of the five questions below, write a **short** amount of code to answer the question. **Note that you must use code to figure out the answer. Viewing part or all of dataframe and manually observing/counting to get the answer will not receive full credit.**

&#9989; **Question 2.3.1 (1 point)**: How many LEGO sets/rows are in this dataset?

In [5]:
# Put your code for Question 2.3.1 here
18457 rows

SyntaxError: invalid syntax (3952828526.py, line 2)

&#9989; **Question 2.3.2 (1 point)**: How many fields/features/columns does this dataset have?

In [ ]:
# Put your code for Question 2.3.2 here
11

&#9989; **Question 2.3.3 (1 point)**: What are all the unique categories of LEGO sets in this dataset? Your code's output should not list any category twice.

In [ ]:
# Put your code for Question 2.3.3 here
for i in lego.columns:
    print(i)

&#9989; **Question 2.3.4 (1 point)**: How many unique themes of LEGO sets are in this dataset?

In [ ]:
# Put your code for Question 2.3.4 here
theme_list = []
for i in lego['theme']:
    if i not in theme_list:
        theme_list.append(i)
len(theme_list)

&#9989; **Question 2.3.5 (1 points)**: What is the greatest number of pieces of a LEGO set in this dataset?

In [ ]:
# Put your code for Question 2.3.5 here
max_pieces = 0
for i in lego['pieces']:
    if i > max_pieces:
        max_pieces = i
print(max_pieces)
lego['pieces'].max()

&#9989; **Question 2.3.6 (2 points)**: What is the name of the LEGO set in this dataset with the highest US retail price? Note that we want the **name** of the set, not its price. If multiple LEGO sets are tied for the highest US retail price, you can just name just one of them or all of them (whichever is easier for you).

In [ ]:
# Put your code for Question 2.3.6 here
lego['US_retailPrice'].max()
#from https://saturncloud.io/blog/how-to-get-the-index-of-a-row-in-a-pandas-dataframe-as-an-integer/#:~:text=The%20iloc%20method%20allows%20you,on%20the%20resulting%20DataFrame%20slice.
row_index = lego.index[lego['US_retailPrice'] == 849.99].tolist()
print(row_index)
print(lego['set_id'].iloc[13651])

&#9989; **Question 2.3.7 (2 points)**: According to this dataset, what was the latest year in which a LEGO set with a themeGroup of 'Vintage' was produced?

In [ ]:
# Put your code for Question 2.3.7 here
most_recent_year = 0
counter = 0
index = 0
for i in lego['themeGroup']:
    if i == 'Vintage':
        index = counter
    counter += 1
print(lego['year'].iloc[index])

**Reminder**: If you are having trouble with parts of Question 2.3, don't forget that you can use your favorite search engine to lookup how to do certain tasks with a `Pandas` `DataFrame`.

Now that you are more acquainted with the LEGO sets data in your `DataFrame`, let's start making some visualizations of this data.

&#9989; **Question 2.4 (4 points)**: Make a histogram showing the number of LEGO sets produced each year. **Set the bins of the histogram so that there is one bin for each year.** There are 53 years between 1970 and 2022 inclusive. Also, make sure to label your axes and give your plot a title.

In [ ]:
1+1

In [ ]:
# Put your code for Question 2.4 here
plt.hist(lego['year'], bins = 53)
plt.xlabel('Years')
plt.ylabel('Count')
plt.title('Number of sets produced each year')

&#9989; **Question 2.5 (2 points)**: Now, create a **new dataframe** which contains only the rows of the dataframe without any `NaN` values. Be sure to store it in a new variable instead of overwriting the previous variable. In particular, this will prevent you from getting different answers if you rerun some of the cells above. Display the first few rows and the last few rows to visually check that the `NaN` values were indeed dropped.

In [ ]:
# Put your code for Question 2.5 here
#https://www.tutorialspoint.com/drop-rows-from-pandas-dataframe-with-missing-values-or-nan-in-columns#:~:text=Using%20dropna()%20Function%20to,containing%20any%20%E2%80%9CNaN%E2%80%9D%20value.
newlego = lego.dropna()
newlego.head()

### For Questions 2.6 and 2.7, use just this new `DataFrame` which dropped the rows with `NaN` values.

&#9989; **Question 2.6 (3 points)**: Make a scatterplot showing the number of pieces on the x-axis and the US retail price on the y-axis. **Again, make sure to label your axes and give your plot a title.**

In [ ]:
# Put your code for Question 2.6 here
plt.scatter(lego['pieces'],lego['US_retailPrice'])
plt.xlabel('Number of Pieces in each set')
plt.ylabel('Retail Price in the US')
plt.title('Number of Lego pieces in a set vs. Price')

&#9989; **Question 2.7 (2 points)**: Describe the general relationship between the US retail price and the number of pieces of LEGO sets? Briefly explain why this relationship makes sense.

**<font size=+3>&#9998;</font> Do This**: there is a pretty positive correlation. This makes sense because as the number of pieces increases, sets become more expensive to produce

&#9989; **Question 2.8 (2 points)**: Suppose we wanted to look at the relationships between every pair of numerical features. What specific Python/Pandas fucntion(s)/tool(s) could you use to do this efficiently, i.e., without writing for loops or manually making a figure for every pair of numerical features? Note that you do not need to actually make a figure for this, just stating which function(s)/tool(s) you'd use is sufficient.

**<font size=+3>&#9998;</font> Do This**: we could us heatmaps or a correlation matrix

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 2**", and push the changes to GitHub.

---

---
## Part 3: Working with a new Python package (16 points)

In this part of the exam, you will install a Python package that you probably have not used before, and use it to perform a simple task. Specifically, you will use a package called `Faker` to perform some tasks that involve generating different types of fake data. The documentation and some example code can be found at https://faker.readthedocs.io/en/master/.

In [13]:
!pip install faker

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: faker in /home/cullito5/.local/lib/python3.11/site-packages (24.0.0)
Requirement already satisfied: python-dateutil>=2.4 in /opt/miniconda3/lib/python3.11/site-packages (from faker) (2.8.2)
Requirement already satisfied: six>=1.5 in /opt/miniconda3/lib/python3.11/site-packages (from python-dateutil>=2.4->faker) (1.16.0)

&#9989; **Question 3.1 (2 points)**: The `faker` package is probably not already installed on your machine. However, you should be able to install the package in the same way we have used previously to install Python packages.

**Do this**: Install the `faker` Python package.

What command did you use to install `faker`? **Include this command in the cell below.**

``` bash
# Put the command for installing `faker` here!
!pip install faker
```

Once `faker` is installed, running the following cell should not result in an error message. **You might need to re-start your Jupyter kernel after installing the package for this to work.** (Once everything works, it should give you no output at all.)

In [20]:
# Running this cell should just work and not yield any output if faker is installed and available
from faker import Faker
fake = Faker()

&#9989; **Question 3.2 (5 points total)**: Using the `faker` package, do the following simple tasks. Each task should only require a very short amount of code, and the documentation should cover how to do it.

&#9989; **Question 3.2.1 (1 point)**: Using the `faker` package, generate a fake name.

In [21]:
# Put your code for Question 3.2.1 here
fake.name()

'Madeline Johnson'

&#9989; **Question 3.2.2 (1 point)**: Using the `faker` package, generate a fake mailing address.

In [22]:
# Put your code for Question 3.2.2 here
fake.address()

'7072 Martin Village\nStevensstad, AL 73528'

&#9989; **Question 3.2.3 (1 point)**: Using the `faker` package, generate a fake email address.

In [23]:
# Put your code for Question 3.2.3 here
fake.email()

'anthonykelley@example.org'

&#9989; **Question 3.2.4 (1 point)**: Using the `faker` package, generate a fake company name.

In [25]:
# Put your code for Question 3.2.4 here
fake.company()

'Jones Inc'

&#9989; **Question 3.2.5 (1 point)**: Using the `faker` package, generate a fake date.

In [26]:
# Put your code for Question 3.2.5 here
fake.date()

'1975-05-26'

&#9989; **Question 3.3 (6 points)**: Now that you've had a bit of practice with the `faker` package, let's make a fake database. Create a `Pandas` `DataFrame` with 100 rows and the columns `"Name"`, `"Date of Birth"`, `"Address"`, `"Email"`, and `"Employer"`. Then, populate the rows with fake data that is appropriate for the column (so the `"Name"` column should look like a name, the `"Date of Birth"` column should look like a date, etc. Don't worry if some of the fake people you generate are too old/young to be employed). Finally, display the `DataFrame`.

In [45]:
# Put your code for Question 3.3 here
data = []
def create_rows_faker(num=100):
    for i in range(num):
        output = [{"Name":fake.name(),
                   "Date of Birth":fake.date(),
                    "Address":fake.address(),
                    "Email":fake.email(),
                    "Employer":fake.company(),}]
        data.append(output)
create_rows_faker()
df_faker = pd.DataFrame
 
df_faker = pd.DataFrame(data)

In [46]:
df_faker

                                                    0
0   {'Name': 'John Mathis', 'Date of Birth': '2018...
1   {'Name': 'Emma Ramirez', 'Date of Birth': '200...
2   {'Name': 'Jacob Williams', 'Date of Birth': '1...
3   {'Name': 'Steven Taylor', 'Date of Birth': '19...
4   {'Name': 'Kathy Flores', 'Date of Birth': '198...
..                                                ...
95  {'Name': 'Scott Haley', 'Date of Birth': '1988...
96  {'Name': 'Stephanie Nelson', 'Date of Birth': ...
97  {'Name': 'Heather May', 'Date of Birth': '2014...
98  {'Name': 'Eric Hall', 'Date of Birth': '2012-0...
99  {'Name': 'Steven Sanchez', 'Date of Birth': '1...

[100 rows x 1 columns]

&#9989; **Question 3.4 (3 points)**: Now, create a new `Faker()` object with a non-English locale, and repeat the steps of Question 3.3 but with this `Faker()` object, i.e. generate fake name, address, email, employer, and date-of-birth data for 100 people. Your fake database for this question should look like it contains data for people from a non-English speaking country. You can leave the column headers in English though.

In [ ]:
# Put your code for Question 3.4 here

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 3**", and push the changes to GitHub.

---

---
## Part 4: Writing and using Python classes (27 points)

In this part of the exam, you will practice using object-oriented programming (OOP) to write code that could be used as part of a role-playing game (RPG). Obviously, we won't be able to build an interesting RPG during the limited time of this exam. However, we can write some fairly generic code that could be used to (1) keep track of the amount of coins and items a player has, and (2) allow players to buy and sell items to each other. 

&#9989; **Do This**: To get started, run the code cell below, but **DO NOT modify it.**

In [ ]:
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT
class Player:
    '''
    Class for a player in a role playing game. Keeps track of coins and items a Player has.
    name: string containing the Player's name
    coins: number of coins the Player has
    inventory: dictionary whose keys are strings representing items 
        and values are the number of each item the Player has
        e.g. {"potion": 2, "sword": 1} would mean the Player has 2 potions and 1 sword
    '''
    
    def __init__(self,name,coins=0):
        '''
        Creates a new Player object with a name, a number of coins (default 0), and an empty inventory
        '''
        self.name = name
        self.coins = coins
        self.inventory = {}
        
    def add_coins(self,amount):
        '''
        To be used when the Player finds some amount of coins in the game
        Increase the number of coins the Player has by amount     
        '''
        self.coins += amount
        
    def add_items(self,item,quantity=1):
        '''
        To be used when the Player finds some quantity of an item in the game
        Add some quantity (default 1) of an item to the Player's inventory
        '''
        if item not in self.inventory:
            self.inventory[item] = 0
        self.inventory[item] += quantity
    
    def can_afford(self,amount):
        '''
        Check if Player can make afford to make a purchase for an amount of coins
        Will be called by MarketPlace before Player can buy items
        '''
        return self.coins >= amount
    
    def has_items(self,item,quantity=1):
        '''
        Check if Player has at least some quantity of a specified item
        Will be called by MarketPlace before Player can sell items
        '''
        if item not in self.inventory:
            return False
        else:
            return self.inventory[item] >= quantity
    
    def buy_items(self,item,price,quantity=1):
        '''
        To be used when the Player wants to buy some quantity of an item
        Add specified quantity of item to the Player's inventory and reduce the Player's amount of coins
        Assumes Player can afford to buy the item(s)
        '''
        if item not in self.inventory:
            self.inventory[item] = 0
        self.inventory[item] += quantity
        self.coins -= price*quantity
        
    def sell_items(self,item,price,quantity=1):
        '''
        To be used when the Player wants to sell some quantity of an item
        Remove specified quantity of item from the Player's inventory and increase the Player's amount of coins
        Assumes Player has the item(s) to sell
        '''
        self.inventory[item] -= quantity
        self.coins += price*quantity
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT

&#9989; **Question 4.1 (7 points)**: **Do this**: The cell above contains a `Player` class that can be used to keep track of the amount of coins and items that a player has. Read the docstrings in the above code to get a sense of how it works. Then, to verify that this class works as intended, use the `Player` class methods to do the following in order in the cell below: 

1. Create a Player object for yourself. Its name attribute should be your name, and you should start with 100 coins. 

2. Add three "potion"s to your inventory

3. Add one "shield" to your inventory

4. Print your coins and inventory attributes

5. Buy one "sword" for 50 coins (checking if you can afford it is not necessary)

6. Sell two "potion"s for 10 coins each (checking if you have at least two "potion"s is not necessary)

7. Print your coins and inventory attributes

In [ ]:
# Put your code for Question 4.1 here

If everything worked, you should have 100 coins, 3 potions, and 1 shield when you print your coins and inventory for the first time, and you should have 70 coins, 1 potion, 1 shield, and 1 sword when you print your coins and inventory for the second time.

&#9989; **Question 4.2 (20 points)**: Next, we will create a `MarketPlace` Class to keep track of `Player`s and handle transactions. This class will have a dictionary whose keys are the strings with `Player` names and whose values are the `Player` objects.  


**Do this**: Write code for the `MarketPlace` class by following the directions. 

* Create an `__init__()` method which has just the one argument all class methods have. The `__init__()` method should create a `players` attribute which should be initialized as an **empty Python dictionary**.


* Create an `add_player()` method which has the argument all class methods have and an argument called `player` which will contain a `Player` object. It should add a new key-value pair to the `players` attribute. The key should be the `name` attribute of the `Player` object. The value should be the `Player` object itself.


* Create a `disp_status()` method which has just the one argument all class methods have. The `disp_status()` method should iterate through all the `Player` objects in the `players` dictionary and do the following
    * Print a statement of the form `"[name] has [coins] coins and the following items:"` where [name] should be replaced by the `Player` object's `name` attribute and [coins] should be replaced by the `Player` object's `coins` attribute
    * Print the `Player` object's `inventory` attribute
    

* Create a `transaction()` method which has the argument all class methods have as well as the arguments `buyer_name` (string), `seller_name` (string), `item`, `price`, and `quantity` in that order. The goal of the transaction method is for the buyer to purchase a specified quantity of an item at the specified price per item. The `transaction()` method should do the following:
    * Check if the buyer can afford the purchase (i.e. has at least `quantity*price` coins) using the buyer `Player` object's `can_afford()` method
    * Check if the seller has at least `quantity` of the `item` using the seller `Player` object's `has_items()` method
    * If both conditions are met, use the buyer `Player` object's `buy_items()` method and the seller `Player` object's `sell_items()` method to execute the transaction
    * If either condition is not met, display the message `"Error: Transaction cannot be completed"`.
    

This may seem intimidating at first, but don't panic. The cell below the cell for the `MarketPlace` Class code has code that can be used to test out your `MarketPlace` Class code. I recommend first creating stub functions for the methods. Then, you can write the methods in the order above and test them out one at a time. Of course, you can work on this question however you'd like.

Also, feel free to refer back to the `Zoo.py` file from the Day-07 ICA if you need help figuring out how to store names and objects in a dictionary.

In [ ]:
# Put your MarketPlace Class code here

&#9989; **Do this**: Run the cell below to test out your code, but **DO NOT modify it.** If you want to run other tests, feel free to add a new cell and write some code for testing there.

In [ ]:
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT
# Create Alice and give her 100 coins and 2 swords
alice = Player("Alice",100)
alice.add_items("sword",2)
# Create Bob and give him 100 coins, 3 potions and 1 shield
bob = Player("Bob",100)
bob.add_items("potion",3)
bob.add_items("shield",1)
# Create a new MarketPlace and print the empty players dictionary
market = MarketPlace()
print(market.players)

# Add Alice and Bob to the MarketPlace and print the players dictionary
market.add_player(alice)
market.add_player(bob)
print(market.players)

# Display the status of the MarketPlace
market.disp_status()

# Have Alice buy 2 potions from Bob for 10 coins each
market.transaction("Alice","Bob","potion",10,2)
market.disp_status()

# Have Bob attempt and fail to buy a shield from Alice (since she doesn't have a shield)
market.transaction("Bob","Alice","shield",20,1)
market.disp_status()

# Have Bob attempt and fail to buy 3 swords from Alice (since she has only two swords)
market.transaction("Bob","Alice","sword",20,3)
market.disp_status()

# Have Bob attempt and fail to buy 1 sword from Alice for 200 coins (since Bob doesn't have enough coins)
market.transaction("Bob","Alice","sword",200,1)
market.disp_status()

# Have Bob buy 1 sword from Alice for 50 coins
market.transaction("Bob","Alice","sword",50,1)
market.disp_status()
### RUN THIS CELL, BUT DO NOT MODIFY IT
### RUN THIS CELL, BUT DO NOT MODIFY IT

If everything worked correctly, Alice should end with 130 coins, 1 sword, and 2 potions, while Bob should end up with 70 coins, 1 potion, 1 shield, and 1 sword.

---
### &#128721; STOP
**Pause to commit your changes to your Git repository!**

Take a moment to save your notebook, commit the changes to your Git repository using the commit message "**Committing Part 4**", and push the changes to GitHub.

---

## You're done! Congrats on finishing your CMSE 202 Midterm!

Make sure all of your changes to your repository are committed and pushed to GitHub. Also upload a copy of this notebook to the dropbox on D2L in case something went wrong with your repository or if you couldn't get the repository to work.